<div class="container-fluid">
    <h1>Vue {{dashboardDetail.definition.name}}</h1>
    <div class="row">
        <div class="col-xs-12">
          <nvd3 options="dashboardDetail.chart.options" data="dashboardDetail.chart.data" ng-class="dashboardDetail.chart.class"></nvd3>
        </div>
    </div>
    <h2>Détails {{dashboardDetail.definition.name}}</h2>
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-4">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardDetail.filter">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12" >
            <!--Add ui grid-->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                   <tr>
                     <th ng-repeat="column in dashboardDetail.definition.columns">
                       {{column.label}}
                       <div class="btn-group">
                         <button class="btn btn-primary btn-xs" ng-click="dashboardDetail.order=column.key"><i class="fa fa-caret-up"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardDetail.order='-' + column.key"><i class="fa fa-caret-down"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="column.showSearch=!column.showSearch"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="column.showSearch">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardDetail.detailedFilter[column.key]">
                         </div>
                       </div>
                     </th>
                     <th>
                       Action
                     </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="productDetail in dashboardDetail.marketDetails | filter : dashboardDetail.filter | filter : dashboardDetail.detailedFilter | orderBy : dashboardDetail.order">
                    <td ng-repeat="column in dashboardDetail.definition.columns">
                      <span ng-if="column.type !== 'currency' && column.type !== 'percentage'">
                        {{productDetail[column.key]}}
                      </span>
                      <span ng-if="column.type === 'currency'">
                        {{productDetail[column.key] | currency:"&euro;"}}
                      </span>
                      <span ng-if="column.type === 'percentage'">
                        {{productDetail[column.key]*100 | number:2}} %
                      </span>
                    </td>
                    <td>
                      <a ui-sref="cardDetail({articleId:productDetail.id})" class="btn btn-success">
                        <i class="fa fa-play"></i>
                        <span class="hidden-xs">
                          Voir le détail de la carte
                        </span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>