<div class="container-fluid">
    <h1>Vue Stock</h1>
    <div class="row">
        <div class="col-xs-12">
            <nvd3 options="dashboardStock.chart.options" data="dashboardStock.chart.data" ng-class="dashboardStock.chart.class"></nvd3>
        </div>
    </div>
    <h2>Détails du stock</h2>
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-4">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardStock.filter">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!--Add ui grid-->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                   <tr>
                     <th>
                       Nom
                       <div class="btn-group">
                         <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='name'"><i class="fa fa-caret-up"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='-name'"><i class="fa fa-caret-down"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardStock.search.nameInput=!dashboardStock.search.nameInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardStock.search.nameInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardStock.detailedFilter.name">
                         </div>
                       </div>
                     </th>
                     <th>
                       Ecart absolu prix/average
                       <div class="btn-group">
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='absoluteDelta'"><i class="fa fa-caret-up"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='-absoluteDelta'"><i class="fa fa-caret-down"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.search.absoluteDeltaInput=!dashboardStock.search.absoluteDeltaInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardStock.search.absoluteDeltaInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardStock.detailedFilter.absoluteDelta">
                         </div>
                       </div>
                     </th>
                     <th>
                       Ecart prix/average
                       <div class="btn-group">
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='delta'"><i class="fa fa-caret-up"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='-delta'"><i class="fa fa-caret-down"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.search.deltaInput=!dashboardStock.search.deltaInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardStock.search.deltaInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardStock.detailedFilter.delta">
                         </div>
                       </div>
                     </th>
                     <th>
                       Price
                       <div class="btn-group">
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='price'"><i class="fa fa-caret-up"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='-price'"><i class="fa fa-caret-down"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.search.priceInput=!dashboardStock.search.priceInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardStock.search.priceInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardStock.detailedFilter.price">
                         </div>
                       </div>
                     </th>
                     <th>
                       Sell
                       <div class="btn-group">
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='sell'"><i class="fa fa-caret-up"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='-sell'"><i class="fa fa-caret-down"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.search.sellInput=!dashboardStock.search.sellInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardStock.search.sellInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardStock.detailedFilter.sell">
                         </div>
                       </div>
                     </th>
                     <th>
                       Average
                       <div class="btn-group">
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='average'"><i class="fa fa-caret-up"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='-average'"><i class="fa fa-caret-down"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.search.averageInput=!dashboardStock.search.averageInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardStock.search.averageInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardStock.detailedFilter.average">
                         </div>
                       </div>
                     </th>
                     <th>
                       Low
                       <div class="btn-group">
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='low'"><i class="fa fa-caret-up"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='-low'"><i class="fa fa-caret-down"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.search.lowInput=!dashboardStock.search.lowInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardStock.search.lowInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardStock.detailedFilter.low">
                         </div>
                       </div>
                     </th>
                     <th>
                       Nombre
                       <div class="btn-group">
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='siteWideCount'"><i class="fa fa-caret-up"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.order='-siteWideCount'"><i class="fa fa-caret-down"></i></button>
                       <button class="btn btn-primary btn-xs" ng-click="dashboardStock.search.siteWideCountInput=!dashboardStock.search.siteWideCountInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardStock.search.siteWideCountInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardStock.detailedFilter.siteWideCount">
                         </div>
                       </div>
                     </th>
                     <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="productDetail in dashboardStock.stockDetails | filter : dashboardStock.filter | filter : dashboardStock.detailedFilter | orderBy : dashboardStock.order">
                    <td>{{productDetail.name}}</td>
                    <td>{{productDetail.absoluteDelta}}</td>
                    <td>{{productDetail.delta}}</td>
                    <td>{{productDetail.price| currency:"&euro;"}}</td>
                    <td>{{productDetail.sell | currency:"&euro;"}}</td>
                    <td>{{productDetail.average | currency:"&euro;"}}</td>
                    <td>{{productDetail.low | currency:"&euro;"}}</td>
                    <td>{{productDetail.siteWideCount}}</td>
                    <td>
                      <a ui-sref="cardDetail({articleId:productDetail.id})" class="btn btn-success">
                        <i class="fa fa-play"></i>
                        <span class="hidden-xs">
                          Voir le détail de la carte
                        </span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>