<ul class="nav nav-sidebar">
    <li ui-sref-active="active">
        <a ui-sref="dashboard.overview">Vue d'ensemble</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="dashboard.watchlist">Vue Watchlist</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="dashboard.market">Vue Marché</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="dashboard.stock">Vue Stock</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="dashboard.outstock">Vue Hors Stock</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="dashboard.export">Export</a>
    </li>
</ul>