<div class="container-fluid">
    <h1>Vue Marché</h1>
    <div class="row">
        <div class="col-xs-12">
          <nvd3 options="dashboardMarket.chart.options" data="dashboardMarket.chart.data" ng-class="dashboardMarket.chart.class"></nvd3>
        </div>
    </div>
    <h2>Détails du marché</h2>
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-4">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardMarket.filter">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12" >
            <!--Add ui grid-->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                   <tr>
                     <th>
                       Nom
                       <div class="btn-group">
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.order='name'"><i class="fa fa-caret-up"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.order='-name'"><i class="fa fa-caret-down"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.search.nameInput=!dashboardMarket.search.nameInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardMarket.search.nameInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardMarket.detailedFilter.name">
                         </div>
                       </div>
                     </th>
                     <th>
                       Sell
                       <div class="btn-group">
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.order='sell'"><i class="fa fa-caret-up"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.order='-sell'"><i class="fa fa-caret-down"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.search.sellInput=!dashboardMarket.search.sellInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardMarket.search.sellInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardMarket.detailedFilter.sell">
                         </div>
                       </div>
                     </th>
                     <th>
                       Average
                       <div class="btn-group">
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.order='average'"><i class="fa fa-caret-up"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.order='-average'"><i class="fa fa-caret-down"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.search.averageInput=!dashboardMarket.search.averageInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardMarket.search.averageInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardMarket.detailedFilter.average">
                         </div>
                       </div>
                     </th>
                     <th>
                       Low
                       <div class="btn-group">
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.order='low'"><i class="fa fa-caret-up"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.order='-low'"><i class="fa fa-caret-down"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.search.lowInput=!dashboardMarket.search.lowInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardMarket.search.lowInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardMarket.detailedFilter.low">
                         </div>
                       </div>
                     </th>
                     <th>
                       Nombre
                       <div class="btn-group">
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.order='siteWideCount'"><i class="fa fa-caret-up"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.order='-siteWideCount'"><i class="fa fa-caret-down"></i></button>
                         <button class="btn btn-primary btn-xs" ng-click="dashboardMarket.search.siteWideCountInput=!dashboardMarket.search.siteWideCountInput"><i class="fa fa-search"></i></button>
                       </div>
                       <div class="row" ng-show="dashboardMarket.search.siteWideCountInput">
                         <div class="col-xs-12">
                           <input type="text" class="form-control" placeholder="Rechercher..." ng-model="dashboardMarket.detailedFilter.siteWideCount">
                         </div>
                       </div>
                     </th>
                     <th>
                       Action
                     </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="productDetail in dashboardMarket.marketDetails | filter : dashboardMarket.filter | filter : dashboardMarket.detailedFilter | orderBy : dashboardMarket.order">
                    <td>{{productDetail.name}}</td>
                    <td>{{productDetail.sell | currency:"&euro;"}}</td>
                    <td>{{productDetail.average | currency:"&euro;"}}</td>
                    <td>{{productDetail.low | currency:"&euro;"}}</td>
                    <td>{{productDetail.siteWideCount}}</td>
                    <td>
                      <a ui-sref="cardDetail({articleId:productDetail.id})" class="btn btn-success">
                        <i class="fa fa-play"></i>
                        <span class="hidden-xs">
                          Voir le détail de la carte
                        </span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>